github "AgileBits/onepassword-extension" "add-framework-support"
github "jdg/MBProgressHUD" ~> 1.2.0
github "jflinter/Dwifft"
github "kishikawakatsumi/KeychainAccess"
github "pusher/pusher-websocket-swift" ~> 7.2.0
github "nvzqz/FileKit"
